<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"> TrackMail </span>

    <div>
      {% if user.is_authenticated %}

      <span class="text-white me-3"> {{ user.username }} </span>

      <a href="{% url 'dashboard' %}" class="btn btn-outline-light btn-sm me-2">
        Dashboard
      </a>

      <a
        href="{% url 'compose-email' %}"
        class="btn btn-outline-light btn-sm me-2"
      >
        Compose
      </a>

      <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">
        Logout
      </a>

      {% endif %}
    </div>
  </div>
</nav>
